<% provide(:title, 'レシピ作成')%>
<p class="flash" ><%= flash[:info]%></p>
<div class="main">
  <%= render 'shared/in_sidebar.html.erb'%>
  <div class="content-wrapper">
    <div class="page-title">
      <h1 class="recipe-title-font gray-color">レシピの基本情報入力</h1>
    </div>
    <div class="recipe-wrapper center">
      <div class="recipe-container">
        <%= form_with model: @recipe, local: true do |f| %>
          <div class="recipe-box">
            <div class="recipe-label1">
              <label class="recipe-label gray-color" for="recipe_name">レシピの名前（２０文字以内）</label>
            </div>
            <div class="recipe-form">
              <%= f.text_field :recipe_name, placeholder: "例：ニラと豚肉のスタミナ丼", class: "recipe-form-ctrl form-space" %>
            </div>
          </div>
          <div class="recipe-box">
            <nav class="recipe-introduction">
              <div class="recipe-label2">
                <label class="recipe-label gray-color" for="recipe_introduction">レシピ紹介（１００文字以内）</label>
              </div>
              <div class="recipe-form">
                <%= f.text_area :recipe_introduction, placeholder: "例：最速20分で簡単にできます！",rows: 4, class: "recipe-intro-form-ctrl form-space" %>
              </div>
            </nav>
            <%= f.hidden_field :user_id, value:@user.id %>
          </div>
          <div class="submit center">
            <%= f.submit "作り方の入力へ", class: "create-recipe-submit" %>
          </div>
      </div>
    </div>
  </div>
</div>
