<% provide(:title, 'eatcapsule')%>
<p class="flash" ><%= flash[:info]%></p>
<div class="main">
  <nav class="nav-side-list">
    <div class="side-wrapper">
      <nav id="nav-list">
        <div class="side-list">
          <div>
            <ul class="menu-list">
              <li>
                <%= link_to "/", class: "list-item" do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <% if user_signed_in? %>
                <li>
                  <button class="btn-menu list-item", id= "menu-btn menu-event", onclick="clickBtn1()">
                  <i class="fa-solid fa-user"></i>User</button>
                  <nav id="nav-none">
                    <ul class="about-user-list">
                      <li><%= link_to "プロフィール編集", account_path(@user), class: "user-list-item" %></li>
                      <li><%= link_to "メール・パスワード変更", edit_user_registration_path, class: "user-list-item" %></li>
                      <li><%= link_to '退会手続き', withdrawal_accounts_path, class: "user-list-item" %></li>
                      <li><%= link_to  "ログアウト", destroy_user_session_path,class: "user-list-item", data: {confirm: "ログアウトしますか？"}, method: :delete %></li>
                    </ul>
                  </nav>
                </li>
              <% else %>
                <li>
                  <%= link_to user_session_path, class: "list-item" do %>
                    <i class="fa-solid fa-user"></i>Login
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "list-item" do %>
                    <i class="fa-solid fa-pen"></i>SignUp
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="about-page-title">
      <h1 class="document-icon title-font">About</h1>
    </div>
    <div class="content-about">
      <div class="container-content">
        <div class="content-document-inner", id="about">
          <h1>「ひとり飯」</h1>
          <p>今日何を作ろうか、簡単に作れるものはないかな？<br>このようなことは日々の生活の中で<br>必ずというほど悩まされることではありませんか？<br>そんな時に他の人がおすすめした簡単な料理を<br>ランダムで検索して作ってみましょう！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
