<p class="flash" ><%= flash[:info]%></p>
<p class="alert"><%= alert%></p>
<div class="main">
  <%= render 'shared/out_sidebar.html.erb'%>
  <div class="top-background-image">
    <div class="content">
      <% if user_signed_in? %>
        <div class="main-btn">
          <%= link_to "レシピ作成", new_recipe_path(@user), class: "top-none top-btn recipe-font"%>
        </div>
      <% else %>
      <div class="main-btn">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "top-none top-btn guest-font", method: :post %>
      </div>
      <% end %>
      <div class="title-container">
        <h1 class="top-title title-font">なにをつくろうか</h1>
      </div>
    </div>
  </div>
</div>
