<% provide(:title, 'トップページ')%>
<p class="flash" ><%= flash[:info]%></p>
<p class="alert"><%= alert%></p>
<div class="top-main">
  <% if user_signed_in? %>
    <%= render 'shared/in_sidebar.html.erb'%>
  <% else %>
    <%= render 'shared/out_sidebar.html.erb'%>
  <% end %>
  <div class="top-main-wrap">
    <div class="content">
      <article>
        <%= image_tag '24835789_m.jpg', class: "w-100" %>
        <% if user_signed_in? %>
          <div class="main-btn">
            <%= link_to "レシピ作成", new_recipe_path, class: "top-none top-btn recipe-font"%>
          </div>
        <% else %>
          <div class="main-btn">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "top-none top-btn guest-font", method: :post %>
          </div>
        <% end %>
        <div class="title-container">
          <h1 class="top-title title-font fff">なにをつくろうか</h1>
        </div>
      </article>  
      <div class="latest-recipe-wrap">
        <div class="latest-recipe-container">
          <% @recipe.each do |recipe| %>
            <div class="latest-recipe-col">
              <h2 class="gray-color">最新簡単レシピ</h2>
            </div>
            <div class="latest-recipe-col2">
              <% if recipe.food? %>
                <%= link_to release_recipe_path(recipe.id) do %>
                  <nav class="nav-latest-img">
                    <%= image_tag recipe.food.url, alt: "最新のレシピ", class: "latest-recipe-img" %>
                    <nav class="nav-latest-time">
                      <div class="latest-time-wrap">
                        <h3 class="latest-time"><%= l recipe.created_at, format: :short %></h3>
                      </div>
                    </nav>
                  </nav>
                  <nav class="nav-latest-item">
                    <nav class="nav-latest-name">
                      <div class="latest-name">
                        <h3><%= recipe.recipe_name%></h3>
                      </div>
                    </nav>
                  </nav>
                <% end %>
              <% else %>
                <%= link_to release_recipe_path(recipe.id) do %>
                  <div class="top-not-img-wrap">
                    <div class="top-not-food-img-posi">
                      <div>
                        <i class="not-food-img fa-solid fa-utensils"></i>
                      </div>
                      <div class="not-found">
                        <p>not-image</p>
                      </div>
                    </div>
                    <nav class="nav-latest-time">
                      <div class="latest-time-wrap">
                        <h3 class="latest-time"><%= l recipe.created_at, format: :short %></h3>
                      </div>
                    </nav>
                  </div>
                  <nav class="nav-latest-name">
                    <div class="latest-name">
                      <h3><%= recipe.recipe_name%></h3>
                    </div>
                  </nav>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

