<% provide(:title, 'トップページ')%>
<p class="flash" ><%= flash[:info]%></p>
<p class="alert"><%= alert%></p>
<div class="top-main">
  <% if user_signed_in? %>
    <%= render 'shared/in_sidebar.html.erb'%>
  <% else %>
    <%= render 'shared/out_sidebar.html.erb'%>
  <% end %>
  <div class="top-main-wrap">
    <div class="content">
      <article>
        <%= image_tag '24835789_m.jpg', class: "w-100" %>
        <% if user_signed_in? %>
          <div class="main-btn">
            <%= link_to "レシピ作成", new_recipe_path, class: "top-none top-btn recipe-font"%>
          </div>
        <% else %>
          <div class="main-btn">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "top-none top-btn guest-font", method: :post %>
          </div>
        <% end %>
        <div class="title-container">
          <h1 class="top-title title-font">なにをつくろうか</h1>
        </div>
      </article>  
      <div class="latest-recipe-wrap">
        <div class="latest-recipe-container">
          <% @recipe.each do |recipe| %>
            <div class="latest-recipe-col">
              <h2>最新簡単レシピ</h2>
            </div>
            <div class="latest-recipe-col2">
              <nav class="nav-latest-img">
                <%= link_to release_recipe_path(recipe.id) do%>
                  <%=image_tag recipe.food.url, alt: "最新のレシピ", class: "latest-recipe-img" %>
                <% end %>
              </nav>
              <nav class="nav-latest-item">
                <div class="latest-item-time">
                  <h3><%= l recipe.created_at, format: :short %></h3>
                </div>
                <div class="latest-item-name">
                  <%= recipe.recipe_name%>
                </div>
              </nav>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

