<header>
  <nav class="navbar">
    <div class="container">
      <div class="header-items">
        <div class="header-left">
          <%= link_to "/", class: "header-logo" do%>
            <h1 class="title-icon">ひとり飯</h1>
          <% end %>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <div class="recipe-create">
              <nav class="nav-header-top-search">
                <%= search_form_for @search, url: search_recipes_path do |f| %>
                  <%= f.search_field :recipe_name_cont, class: 'header-search', placeholder: 'レシピ名で検索' %>
                <% end %>
              </nav>
              <%= link_to "レシピ作成", new_recipe_path(@user), class: "size recipe-btn"%>
            </div>
            <%= render 'shared/hamburger_menu.html.erb' %>
          <% else %>
            <nav class="nav-header-login-none">
              <div class = "header-form">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "guest-login-btn guest-font header-btn", method: :post %>
              </div>
              <%= render 'shared/hamburger_menu.html.erb' %>
            </nav>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
document.querySelector('.menu-btn').addEventListener('click', function(){
    document.querySelector('.menu').classList.toggle('is-active');
});
</script>