<nav class="nav-side-list">
  <div class="side-wrapper">
    <div class="side-title">
      <%= link_to "/", class: "side-logo" do%>
        <h1 class="title-icon">ひとり飯</h1>
      <% end %>
    </div>
    <nav id="nav-list">
      <div class="side-list">
        <div>
          <ul class="menu-list">
            <li class="memu1">
              <%= link_to "/", class: "list-item" do %>
                <i class="fa-solid fa-house push-right"></i>Home
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class: "list-item" do %>
                <i class="fa-solid fa-book push-right"></i>Concept
              <% end %>
            </li>
            <li>
              <button class="btn-menu list-item", id= "menu-btn menu-event", onclick="clickBtn1()">
                <i class="fa-solid fa-user push-right"></i>User
              </button>
              <nav id="nav-none">
                <ul class="user-list">
                  <li><%= link_to "プロフィール編集", account_path(@user), class: "user-list-item" %></li>
                  <li><%= link_to "アカウント編集", edit_user_registration_path, class: "user-list-item" %></li>
                  <li><%= link_to '退会手続き', withdrawal_accounts_path, class: "user-list-item" %></li>
                  <li><%= link_to  "ログアウト", destroy_user_session_path,class: "user-list-item logout-color", data: {confirm: "ログアウトしますか？"}, method: :delete %></li>
                </ul>
              </nav>
              <li>
                <%= link_to recipes_path, class: "list-item" do %>
                  <i class="fa-solid fa-pen push-right"></i>Recipe
                <% end %>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
