<nav class="nav-side-list">
  <div class="side-wrapper">
    <div class="side-title">
      <%= link_to "/", class: "side-logo" do%>
        <h1 class="title-icon">ひとり飯</h1>
      <% end %>
    </div>
    <nav id="nav-list">
      <div class="side-list">
        <div>
          <ul class="menu-list">
            <li class="memu1">
              <%= link_to "/", class: "list-item" do %>
                <i class="fa-solid fa-house push-right"></i>Home
              <% end %>
            </li>
            <% if current_page?("/")  %>
              <li>
                <%= link_to anchor: "concept-anchor" do %>
                  <div class="flex">
                    <p class="fa-solid fa-book push-right list-item inline"></p><p class="list-item inline">Concept</p>
                  </div>
                <% end %>
              </li>
            <% else %>
            <li>
              <%= link_to about_path, class: "list-item" do %>
                <i class="fa-solid fa-book push-right"></i>Concept
              <% end %>
            </li>
            <% end %>
            <li>
              <button class="btn-menu list-item", id= "menu-btn menu-event", onclick="clickBtn1()">
                <i class="fa-solid fa-user push-right"></i>User
              </button>
              <nav id="nav-none">
                <ul class="user-list">
                  <li><%= link_to "マイページ", account_path(@user), class: "user-list-item" %></li>
                  <li><%= link_to "アカウント編集", edit_user_registration_path, class: "user-list-item" %></li>
                  <li><%= link_to '退会手続き', withdrawal_accounts_path, class: "user-list-item" %></li>
                  <li><%= link_to  "ログアウト", destroy_user_session_path,class: "user-list-item logout-color", data: {confirm: "ログアウトしますか？"}, method: :delete %></li>
                </ul>
              </nav>
            </li>
            <li>
              <button class="btn-menu list-item", id= "menu-btn menu-event", onclick="clickBtn2()">
                <i class="fa-solid fa-utensils push-right"></i>Recipe
              </button>
              <nav id="nav-none2">
                <ul class="user-list">
                  <li><%= link_to "新規レシピ一覧", recipes_path, class: "user-list-item" %></li>
                  <li><%= link_to "レシピ作成", new_recipe_path, class: "user-list-item" %></li>
                </ul>
              </nav>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
<script>
  document.getElementById("nav-none").style.display = "none";
  function clickBtn1() {
    const p1 = document.getElementById("nav-none");
    if(p1.style.display == "block") {
      p1.style.display = "none";
    }else{
      p1.style.display = "block"
      document.addEventListener('click', (e) => {
        if(!e.target.closest('.menu-list')) {
          p1.style.display = "none";
        }
      })
    }
  }
  document.getElementById("nav-none2").style.display = "none";
  function clickBtn2() {
    const p1 = document.getElementById("nav-none2");
    if(p1.style.display == "block") {
      p1.style.display = "none";
    }else{
      p1.style.display = "block"
      document.addEventListener('click', (e) => {
        if(!e.target.closest('.menu-list')) {
          p1.style.display = "none";
        }
      })
    }
  }
</script>
