<% provide(:title, 'eatcapsule | プロフィール')%>
<div class="main">
  <nav class="nav-side-list">
    <div class="side-wrapper">
      <nav id="nav-list">
        <div class="side-list">
          <div>
            <ul class="menu-list">
              <li>
                <%= link_to "/", class: "list-item" do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class: "list-item" do %>
                  <i class="fa-solid fa-book"></i>About
                <% end %>
              </li>
              <li>
                <button class="btn-menu list-item", id= "menu-btn menu-event", onclick="clickBtn1()">
                  <i class="fa-solid fa-user"></i>User
                </button>
                <nav id="nav-none">
                  <ul class="user-list">
                    <li><%= link_to "プロフィール編集", account_path(@user), class: "user-list-item" %></li>
                    <li><%= link_to "メール・パスワード変更", edit_user_registration_path, class: "user-list-item" %></li>
                    <li><%= link_to '退会手続き', withdrawal_accounts_path, class: "user-list-item" %></li>
                    <li><%= link_to  "ログアウト", destroy_user_session_path,class: "user-list-item", method: :delete %></li>
                  </ul>
                </nav>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="content-user">
      <div class="container-content user-form">
        <div class="content-document-inner">
          <h1 class="signup-icon title-font">プロフィール</h1>
          <%= form_with model: @user, url: account_path(@user), local: true do |f| %>
            <div class="field">
              <div class="user-content">
                <label class="user-label" for="name">プロフィール写真</label>
                <div class="user-content-item">
                  <%= f.file_field :avatar %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="name">ニックネーム</label>
                <div class="user-content-item">
                  <%= f.text_field :name, class: "form-control form-space" %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="introduction">自己紹介</label>
                <div class="user-content-item">
                  <%= f.text_area :introduction, rows: 4, class: "form-control form-space" %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="specialties">旬のおすすめ料理</label>
                <div class="user-content-item">
                  <%= f.text_field :recommended_dishes, class: "form-control form-space" %>
                </div>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "更新", class: "form-submit base-btn" %>
            </div>
            <div class="actions">
              <%= link_to "戻る", account_path, class: "return-link base-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
