<% provide(:title, 'プロフィール詳細')%>
<div class="main">
  <%= render 'shared/in_sidebar.html.erb'%>
  <div class="content-wrapper">
    <div class="page-title">
      <h1 class="signup-icon title-font">プロフィール</h1>
    </div>
    <div class="content-user">
      <div class="container-content user-form">
        <div class="content-document-inner">
          <div class="field">
            <%= form_with model: @user, url: account_path(@user), local: true do |f| %>
              <div class="user-content">
                <label class="user-label" for="name">プロフィール写真</label>
                <div class="user-content-item col-border">
                  <% if @user.avatar? %>
                    <%= image_tag @user.avatar.url, alt: "プロフィール写真", class: "user-icon-img" %>
                  <% else %>
                    <i class="fa-solid fa-user-gear user-icon-font"></i>
                  <% end %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="name">ニックネーム</label>
                <div class="user-content-item col-border">
                  <%= f.text_field :name, class: "no-edit-form" %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="introduction">自己紹介</label>
                <div class="user-content-item col-border">
                  <% if @user.introduction? %>
                    <%= @user.introduction%>
                  <% else %>
                      <%= f.text_area :introduction, rows: 4, class: "no-edit-form", readonly: true %>
                  <% end %>
                </div>
              </div>
              <div class="user-content">
                <label class="user-label" for="specialties">得意料理</label>
                <div class="user-content-item col-border">
                  <%= f.text_field :recommended_dishes, class: "no-edit-form", readonly: true %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="user-content-link">
              <%= link_to "プロフィール編集", edit_account_path, class: "form-submit base-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
