<% provide(:title, 'ひとり飯 | Sign_Up')%>
<div class="main">
  <%= render 'shared/out_sidebar.html.erb'%>
  <div class="content-wrapper">
    <div class="content-user">
      <div class="container-content user-form">
        <div class="content-document-inner">
          <h1 class="signup-icon title-font">SignUp</h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">
              <%= f.label :ニックネーム %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control sign-up-form form-space" %>
            </div>
            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-space" %>
            </div>
            <div class="field">
              <%= f.label :パスワード %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control pass-space" %>
            </div>
            <div class="field">
              <%= f.label :パスワード確認 %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control pass-space" %>
            </div>
            <div class="actions">
              <%= f.submit "アカウント登録", class: "form-submit base-btn" %>
            </div>
            <div class="actions">
              <%= link_to  "ログイン", new_user_session_path, class: "login-btn link-btn base-btn" %>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
